body{
	width: 100%;
	height: 100%;
	background: gray;
}


#hidden_vid, #vid, #gl_canvas, #overlay{
	-o-transform : scaleX(-1);
	-webkit-transform : scaleX(-1);
	transform : scaleX(-1);
	-ms-filter : fliph; /*IE*/
	filter : fliph; /*IE*/
	display: inline-block;
}

.mirrored{
	-o-transform : scaleX(-1);
	-webkit-transform : scaleX(-1);
	transform : scaleX(-1);
	-ms-filter : fliph; /*IE*/
	filter : fliph; /*IE*/
}



#videoContainer{
	display: block;
	border: purple solid 1px;
}

#overlay, #gl_canvas{
	display: block;
}

.offscreen{
	margin-left: -9999px;
	height: 0px;
}

.offscreen img{
	display: block;
}